In [1]:
#import libraries
import numpy as np
import pandas as pd

In [2]:
#read the csv file
df_1=pd.read_csv("reported_numbers.csv") 

#read excel file
df_2=pd.read_excel("ExportExcel.xlsx")

In [3]:
type(df_1)      # to cheak the type od file

pandas.core.frame.DataFrame

In [4]:
print(df_1.shape)                          #cheak no of col and rows
print('----------------------------------------')
print(df_1.columns)                        #all columns
print('----------------------------------------')
print(df_1.index)                          #range of index

(1944, 5)
----------------------------------------
Index(['Country', 'Year', 'No. of cases', 'No. of deaths', 'WHO Region'], dtype='object')
----------------------------------------
RangeIndex(start=0, stop=1944, step=1)

In [5]:
print(df_1.head())                         #first five rows
print('----------------------------------------')
print(df_1.tail())                         #last five rows
print('----------------------------------------')
print(df_1.head(10))                       #first 10 rows same for tail

       Country  Year  No. of cases  No. of deaths             WHO Region
0  Afghanistan  2017      161778.0           10.0  Eastern Mediterranean
1      Algeria  2017           0.0            0.0                 Africa
2       Angola  2017     3874892.0        13967.0                 Africa
3    Argentina  2017           0.0            1.0               Americas
4      Armenia  2017           0.0            NaN                 Europe
----------------------------------------
                                 Country  Year  No. of cases  No. of deaths  \
1939  Venezuela (Bolivarian Republic of)  2000       29736.0           24.0
1940                            Viet Nam  2000       74316.0          142.0
1941                               Yemen  2000     1394495.0            NaN
1942                              Zambia  2000           NaN            NaN
1943                            Zimbabwe  2000           NaN            NaN

                 WHO Region
1939               Americas
1940        Western Pacific
1941  Eastern Mediterranean
1942                 Africa
1943                 Africa
----------------------------------------
       Country  Year  No. of cases  No. of deaths             WHO Region
0  Afghanistan  2017      161778.0           10.0  Eastern Mediterranean
1      Algeria  2017           0.0            0.0                 Africa
2       Angola  2017     3874892.0        13967.0                 Africa
3    Argentina  2017           0.0            1.0               Americas
4      Armenia  2017           0.0            NaN                 Europe
5   Azerbaijan  2017           0.0            NaN                 Europe
6   Bangladesh  2017        4893.0           13.0        South-East Asia
7       Belize  2017           7.0            0.0               Americas
8        Benin  2017     1573163.0         2182.0                 Africa
9       Bhutan  2017          24.0            1.0        South-East Asia

In [6]:
print(df_1.info)            # types and other information about dataset

<bound method DataFrame.info of                                  Country  Year  No. of cases  No. of deaths  \
0                            Afghanistan  2017      161778.0           10.0
1                                Algeria  2017           0.0            0.0
2                                 Angola  2017     3874892.0        13967.0
3                              Argentina  2017           0.0            1.0
4                                Armenia  2017           0.0            NaN
...                                  ...   ...           ...            ...
1939  Venezuela (Bolivarian Republic of)  2000       29736.0           24.0
1940                            Viet Nam  2000       74316.0          142.0
1941                               Yemen  2000     1394495.0            NaN
1942                              Zambia  2000           NaN            NaN
1943                            Zimbabwe  2000           NaN            NaN

                 WHO Region
0     Eastern Mediterranean
1                    Africa
2                    Africa
3                  Americas
4                    Europe
...                     ...
1939               Americas
1940        Western Pacific
1941  Eastern Mediterranean
1942                 Africa
1943                 Africa

[1944 rows x 5 columns]>

In [7]:
print(df_1.describe())

              Year  No. of cases  No. of deaths
count  1944.000000  1.710000e+03    1675.000000
mean   2008.500000  3.897303e+05    1289.413731
std       5.189462  1.270270e+06    4290.739997
min    2000.000000  0.000000e+00       0.000000
25%    2004.000000  5.937500e+02       1.000000
50%    2008.500000  1.479200e+04      30.000000
75%    2013.000000  1.170978e+05     669.500000
max    2017.000000  1.533084e+07   51842.000000

In [8]:
 #selecting column
print(df_1['Country'])   
print(df_1[['Country','WHO Region']])
print('----------------------------------------')
#specific part of data
print(df_1[2:5])     
print(df_1[2:5][['Country','WHO Region']])

0                              Afghanistan
1                                  Algeria
2                                   Angola
3                                Argentina
4                                  Armenia
                       ...
1939    Venezuela (Bolivarian Republic of)
1940                              Viet Nam
1941                                 Yemen
1942                                Zambia
1943                              Zimbabwe
Name: Country, Length: 1944, dtype: object
                                 Country             WHO Region
0                            Afghanistan  Eastern Mediterranean
1                                Algeria                 Africa
2                                 Angola                 Africa
3                              Argentina               Americas
4                                Armenia                 Europe
...                                  ...                    ...
1939  Venezuela (Bolivarian Republic of)               Americas
1940                            Viet Nam        Western Pacific
1941                               Yemen  Eastern Mediterranean
1942                              Zambia                 Africa
1943                            Zimbabwe                 Africa

[1944 rows x 2 columns]
----------------------------------------
     Country  Year  No. of cases  No. of deaths WHO Region
2     Angola  2017     3874892.0        13967.0     Africa
3  Argentina  2017           0.0            1.0   Americas
4    Armenia  2017           0.0            NaN     Europe
     Country WHO Region
2     Angola     Africa
3  Argentina   Americas
4    Armenia     Europe

In [9]:
#iloc  (location base indexing)

print(df_1.iloc[0])        #print 0th row
print('----------------------------------------')
print(df_1.iloc[0:5])       #first 5 rows
print('----------------------------------------')
print(df_1.iloc[[0,5,6,9,10]])     #all rows in the list which we pass
print('----------------------------------------')           

print(df_1.iloc[[1,4,6,8,9],[2,4]])    #first list for rows and second list for column
print('----------------------------------------')

print(df_1.iloc[[1,4],0:6])                # same

Country                    Afghanistan
Year                              2017
No. of cases                    161778
No. of deaths                       10
WHO Region       Eastern Mediterranean
Name: 0, dtype: object
----------------------------------------
       Country  Year  No. of cases  No. of deaths             WHO Region
0  Afghanistan  2017      161778.0           10.0  Eastern Mediterranean
1      Algeria  2017           0.0            0.0                 Africa
2       Angola  2017     3874892.0        13967.0                 Africa
3    Argentina  2017           0.0            1.0               Americas
4      Armenia  2017           0.0            NaN                 Europe
----------------------------------------
                             Country  Year  No. of cases  No. of deaths  \
0                        Afghanistan  2017      161778.0           10.0
5                         Azerbaijan  2017           0.0            NaN
6                         Bangladesh  2017        4893.0           13.0
9                             Bhutan  2017          24.0            1.0
10  Bolivia (Plurinational State of)  2017        4572.0            0.0

               WHO Region
0   Eastern Mediterranean
5                  Europe
6         South-East Asia
9         South-East Asia
10               Americas
----------------------------------------
   No. of cases       WHO Region
1           0.0           Africa
4           0.0           Europe
6        4893.0  South-East Asia
8     1573163.0           Africa
9          24.0  South-East Asia
----------------------------------------
   Country  Year  No. of cases  No. of deaths WHO Region
1  Algeria  2017           0.0            0.0     Africa
4  Armenia  2017           0.0            NaN     Europe

In [10]:
df_3=pd.read_csv('reported_numbers.csv', index_col='Country')    #change index column 
df_3

,Year,No. of cases,No. of deaths,WHO Region
Country,,,,
Afghanistan,2017,161778.0,10.0,Eastern Mediterranean
Algeria,2017,0.0,0.0,Africa
Angola,2017,3874892.0,13967.0,Africa
Argentina,2017,0.0,1.0,Americas
Armenia,2017,0.0,NaN,Europe
...,...,...,...,...
Venezuela (Bolivarian Republic of),2000,29736.0,24.0,Americas
Viet Nam,2000,74316.0,142.0,Western Pacific
Yemen,2000,1394495.0,NaN,Eastern Mediterranean
Zambia,2000,NaN,NaN,Africa
Zimbabwe,2000,NaN,NaN,Africa

In [11]:
df_3.reset_index()

,Country,Year,No. of cases,No. of deaths,WHO Region
0,Afghanistan,2017,161778.0,10.0,Eastern Mediterranean
1,Algeria,2017,0.0,0.0,Africa
2,Angola,2017,3874892.0,13967.0,Africa
3,Argentina,2017,0.0,1.0,Americas
4,Armenia,2017,0.0,NaN,Europe
...,...,...,...,...,...
1939,Venezuela (Bolivarian Republic of),2000,29736.0,24.0,Americas
1940,Viet Nam,2000,74316.0,142.0,Western Pacific
1941,Yemen,2000,1394495.0,NaN,Eastern Mediterranean
1942,Zambia,2000,NaN,NaN,Africa
1943,Zimbabwe,2000,NaN,NaN,Africa

In [12]:
#one column is like a series
ser_1=df_1['Country']
type(ser_1)              #this is a series

pandas.core.series.Series

In [13]:
#return unique values
ser_1.unique()

array(['Afghanistan', 'Algeria', 'Angola', 'Argentina', 'Armenia',
       'Azerbaijan', 'Bangladesh', 'Belize', 'Benin', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Botswana', 'Brazil',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Central African Republic', 'Chad', 'China', 'Colombia', 'Comoros',
       'Congo', 'Costa Rica', "Côte d'Ivoire",
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Djibouti',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Eswatini', 'Ethiopia', 'Gabon',
       'Gambia', 'Georgia', 'Ghana', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'India',
       'Indonesia', 'Iran (Islamic Republic of)', 'Iraq', 'Kazakhstan',
       'Kenya', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Liberia', 'Madagascar', 'Malawi', 'Malaysia', 'Mali',
       'Mauritania', 'Mauritius', 'Mexico', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nepal', 'Nicaragua', 'Niger', 'Nigeria',
       'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Republic of Korea', 'Rwanda',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Sierra Leone',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Sri Lanka', 'Sudan', 'Suriname', 'Syrian Arab Republic',
       'Tajikistan', 'Thailand', 'Timor-Leste', 'Togo', 'Turkey',
       'Turkmenistan', 'Uganda', 'United Arab Emirates',
       'United Republic of Tanzania', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

In [14]:
print(ser_1.nunique())        #same like unique but donot calculate undefined values

print(ser_1.value_counts())    # calculate the no of unique values

108
El Salvador     18
Guatemala       18
Eritrea         18
Nicaragua       18
Gabon           18
                ..
Gambia          18
Afghanistan     18
Morocco         18
Saudi Arabia    18
Brazil          18
Name: Country, Length: 108, dtype: int64

In [15]:
#create your own series
list1=['subhan','bashir','ahmed','zegham','hadi','bilal']
ser_2=pd.Series(list1, name='name of list')     #first column of dataframe
ser_2

0    subhan
1    bashir
2     ahmed
3    zegham
4      hadi
5     bilal
Name: name of list, dtype: object

In [16]:
type(ser_2)

pandas.core.series.Series

In [17]:
print(ser_2.tolist())         #change series to list
print(ser_2.values )          #change series to array
ser_2.to_numpy()              #change all in numpy

['subhan', 'bashir', 'ahmed', 'zegham', 'hadi', 'bilal']
['subhan' 'bashir' 'ahmed' 'zegham' 'hadi' 'bilal']

array(['subhan', 'bashir', 'ahmed', 'zegham', 'hadi', 'bilal'],
      dtype=object)

In [18]:
#sorting the series
#inplace is used to change the original series
ser_2.sort_index(ascending= True, inplace=True)            #sorting w.r.t index 

ser_2.sort_values(ascending= True, inplace=True)           #sorting w.r.t values

In [19]:
ser_2

2     ahmed
1    bashir
5     bilal
4      hadi
0    subhan
3    zegham
Name: name of list, dtype: object

In [20]:
ser_3=df_1['No. of deaths'].head(10)
print(ser_3.nsmallest(n=4))                    #first 3 smallest values in series
print(ser_3.nlargest(n=3))                     #first 3 largest values in series

1    0.0
7    0.0
3    1.0
9    1.0
Name: No. of deaths, dtype: float64
2    13967.0
8     2182.0
6       13.0
Name: No. of deaths, dtype: float64

In [21]:
#data filtering
print(df_1[(df_1.Country=='Bangladesh') & (df_1.Year==2017)]) 

print(df_1.Year.between(2010,2012))                 #data between year 2010 to 2012

df_1.Year.isin([2000,2005])                         #data only  in 2005 and 2000

      Country  Year  No. of cases  No. of deaths       WHO Region
6  Bangladesh  2017        4893.0           13.0  South-East Asia
0       False
1       False
2       False
3       False
4       False
        ...
1939    False
1940    False
1941    False
1942    False
1943    False
Name: Year, Length: 1944, dtype: bool

0       False
1       False
2       False
3       False
4       False
        ...
1939     True
1940     True
1941     True
1942     True
1943     True
Name: Year, Length: 1944, dtype: bool

In [22]:
df_1['No. of deaths'].fillna(0)          #fill nan values with 0

0          10.0
1           0.0
2       13967.0
3           1.0
4           0.0
         ...
1939       24.0
1940      142.0
1941        0.0
1942        0.0
1943        0.0
Name: No. of deaths, Length: 1944, dtype: float64

In [23]:
df_1['No. of deaths'].interpolate(method='linear')        #fill the nan value with average

0          10.0
1           0.0
2       13967.0
3           1.0
4           5.0
         ...
1939       24.0
1940      142.0
1941      142.0
1942      142.0
1943      142.0
Name: No. of deaths, Length: 1944, dtype: float64

In [24]:
#create a dataframe
l1=['subhan','cricket','180']
l2=['bilal','football','159']
l3=['hadi','hockey','180']
l4=['ahmed','cricket','180']
l5=['mian','football','159']
l6=['zegham','hockey','180']

df_5=pd.DataFrame(data=[l1,l2,l3,l4,l5,l6], columns=['name','hobbies','height'])

In [25]:
df_5

     name   hobbies height
0  subhan   cricket    180
1   bilal  football    159
2    hadi    hockey    180
3   ahmed   cricket    180
4    mian  football    159
5  zegham    hockey    180